<div class="layout">
    <div class="top">
   <img
   src="../../../assets/img/prints/drinkcard_mascotte.jpg"
   alt="drinkcard mascotte"
 />
 </div>
 <div class="bottom">
     <img
       src="../../../assets/img/prints/flyer_mascotte_1.jpg"
       alt="mascotte 1"
     />
     <img
       src="../../../assets/img/prints/flyer_mascotte_1.jpg"
       alt="mascotte 1"
     />
     <img
       src="../../../assets/img/prints/flyer_mascotte_1.jpg"
       alt="mascotte 1"
     />
   
   </div>
</div>
