<div class="wrapper">
  <div class="container-angular">
    <div class="angular">
      <div class="angular-title">Angular</div>
      <div class="angular-logo"></div>
    </div>

    <div class="angular-miniproject">
      <div class="header">
        <div class="icon-button">show</div>
        <div class="icon-button">editor</div>
      </div>
      <div class="editor"></div>
      <div class="project">
        <div class="moods">
          <div class="moodButton happy">Happy</div>
          <div class="moodButton angry">angry</div>
          <div class="moodButton sad">Sad</div>
          <div class="moodButton silly">Silly</div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
