.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 370px;
  img {
    width: 259px;
    height: 259px;
    margin-right: -129.5px;
    border-radius: 25px;
    z-index: 100;
  }
  .information {
    width: 890px;
    height: 371px;
    padding: 90px 118px 91px 200px;
    border: 6px solid #292929;
    border-radius: 25px;
    box-sizing: border-box;
    p {
      color: white;
    }
    .title {
      font: normal normal 900 30px Mosvita;
    }
    .subtitle {
      font: normal normal 900 18px Mosvita;
    }
  }
}
