<div class="layout1">
    <div class="left">
      <img
        src="../../../assets/img/prints/flyer_mascotte_1.jpg"
        alt="mascotte 1"
      />
      <img src="../../../assets/img/prints/f12_ehc.jpg" alt="EHC" />
    </div>
    <div class="middle">
      <img
        src="../../../assets/img/prints/drinkcard_mascotte.jpg"
        alt="drinkcard mascotte"
      />
      <img
        src="../../../assets/img/prints/magazin_ehc.jpg"
        alt="Middle Image 2"
      />
      <img
        src="../../../assets/img/prints/flyer_ganterbratscher.jpg"
        alt="Middle Image 2"
      />
    </div>
    <div class="right">
      <img
        src="../../../assets/img/prints/f200_neo.jpg"
        alt="Right Image 1"
      />
    </div>
  </div>
