html,
body {
  padding: 0;
  margin: 0;
  font-family: Mosvita-Regular;
}
body {
  overflow: overlay;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}
@font-face {
  font-family: Mosvita;
  src: url(./assets/fonts/Mosvita-BlackExpanded.otf);
}
@font-face {
  font-family: Mosvita-SemiBold-Expanded;
  src: url(./assets/fonts/Mosvita-SemiBoldExpanded.otf);
}
@font-face {
  font-family: Mosvita-SemiBold;
  src: url(./assets/fonts/Mosvita-SemiBold.otf);
}
@font-face {
  font-family: Mosvita-Expanded;
  src: url(./assets/fonts/Mosvita-Expanded.otf);
}
@font-face {
  font-family: Mosvita-Regular;
  src: url(./assets/fonts/Mosvita-Regular.otf);
}
@font-face {
  font-family: Mosvita-Medium;
  src: url(./assets/fonts/Mosvita-Medium.otf);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
