@use "../../styles.scss" as theme;
@mixin button_small {
  position: fixed;
  top: 44.271vw;
  right: 5.208vw;
  bottom: 5vw;
  width: 7.551vw;
  height: 2.5vw;
  border: none;
  border-radius: 24px 24px 0 24px;
  color: white;
  background-color: theme.$base_lighter;
  font-family: Mosvita;
  z-index: 1000;
  white-space: nowrap;
  text-align: center;
  letter-spacing: 0.5px;
  &:hover {
    background-color: theme.$second_color;
  }
}

@mixin button_page {
  width: 28.021vw;
  height: 3vw;
  margin-top: 10vw;
  border: 4px solid theme.$base_lighter;
  border-radius: 0 2.4vw 2.4vw 2.4vw;
  color: white;
  background-color: transparent;
  font-family: Mosvita-SemiBold-Expanded;
  font-size: 1.5vw;
  &:hover {
    background-color: theme.$base_lighter;
  }
}
@mixin page_title1 {
  color: theme.$font_h1_color;
  font-family: theme.$font_h1_family;
  font-size: theme.$font_h1_size;
}
@mixin page_title2 {
  color: theme.$base_lighter;
  font-family: theme.$font_h1_family;
  font-size: theme.$font_h1_size;
}
