$base_color: #0b2d8a;
$base_lighter: #609bdd;
$second_color: #343434;
$third_color: #494848;

$font_title1: normal normal 900 8.229vw/7.031vw Mosvita;
$font_title2: normal normal 900 14.583vw/1vw Mosvita;
$font_title3: normal normal normal 5.208vw/0 Mosvita-Expanded;

$font_h1_size: 5.208vw;
$font_h1_color: white;
$font_h1_family: Mosvita;

$start-image: url("../../../assets/img/bild_nike.png");
