$base_color:#600000;
$base_lighter:#ff0000;
$second_color:#343434;

$font_title1: normal normal 900 8.229vw/7.031vw Mosvita;
$font_title2: normal normal 900 14.583vw/1vw Mosvita;
$font_title3: normal normal normal 5.208vw/0 Mosvita-Expanded;

$start-image: url('../../../assets/img/bild_nike.png');






