<div class="wrapper">
  <div class="footer-title">REFERENZEN</div>
  <div class="container-reference">
    <div class="reference">
      <div class="reference-information">
        <div class="information-name">
          Flavian <span class="lastname">WYER</span>
        </div>
        <div class="description">Markenstrege bei Tonic</div>
        <div class="reference-contact">
          <div class="contacts mail"><mat-icon>mail</mat-icon></div>
          <div class="contacts call"><mat-icon>call</mat-icon></div>
        </div>
      </div>
      <div class="picture-container">
        <img
          src="../../../assets/img/flavian_wyer.jpg"
          alt="Picture of Flavian WYER"
        />
      </div>
    </div>
    <div class="reference">
      <div class="reference-information">
        <div class="information-name">
          Fredericé <span class="lastname">IMSAND</span>
        </div>
        <div class="description">Grafikdesigner bei Tonic</div>
        <div class="reference-contact">
          <div class="contacts mail"><mat-icon>mail</mat-icon></div>
          <div class="contacts call"><mat-icon>call</mat-icon></div>
        </div>
      </div>
      <div class="picture-container">
        <img
          src="../../../assets/img/frederice_imsand.jpg"
          alt="Picture of Flavian WYER"
        />
      </div>
    </div>
    <div class="reference">
      <div class="reference-information">
        <div class="information-name">
          Michel <span class="lastname">ROTEN</span>
        </div>
        <div class="description">Art Director bei Tonic</div>
        <div class="reference-contact">
          <div class="contacts mail"><mat-icon>mail</mat-icon></div>
          <div class="contacts call"><mat-icon>call</mat-icon></div>
        </div>
      </div>
      <div class="picture-container">
        <img
          src="../../../assets/img/michel_roten.jpg"
          alt="Picture of Flavian WYER"
        />
      </div>
    </div>
  </div>
  <div class="container-contact">
    <div class="footer-title">KONTAKT</div>
    <div class="reference">
      <div class="reference-information">
        <div class="information-name">
          Nike <span class="lastname">Roten</span>
        </div>
        <div class="description">Interactive Media Designer bei Tonic</div>
        <div class="reference-contact">
          <div class="contacts mail"><mat-icon>mail</mat-icon></div>
          <div class="contacts call"><mat-icon>call</mat-icon></div>
          <div class="contacts call"><mat-icon>call</mat-icon></div>
          <div class="contacts call"><mat-icon>call</mat-icon></div>
        </div>
      </div>
      <div class="picture-container">
        <img
          src="../../../assets/img/nike_roten.jpg"
          alt="Picture of Flavian WYER"
        />
      </div>
    </div>
  </div>
</div>
<div class="footer-footer">
  <span
    >Powered by <span class="name">AARON STUPF</span> | Design by
    <span class="name">NIKE ROTEN</span></span
  >
  <div class="footer-routerLinks">
    <div>Impressum</div>
    <div>Datenschutz</div>
  </div>
</div>
